<!-- FOOTER ******************
================================================== -->

<div class="container _footer">
  
  
  <div class="row">
    
    <div class="col-md-4 col-sm-6 text-left">
    <h2>Venueé, Inc.</h2>
    <p>Venueé &copy; 2015 </p>
    </div>



      <div class="col-md-4 col-sm-6 text-left">
    <h2>Privacy Policy</h2>
    <a>Terms &amp; conditions</a>
  </div>
  

  
  
      <div class="col-md-4 col-sm-6 text-left">
        
     <h2>Get Connected</h2> 
    <a href="https://instagram.com/venuee" target="_blank">Instagram</a>
    <br>
    <a href="https://www.facebook.com/Venueeapp" target="_blank">Facebook</a>
    <br>
    <a href="https://twitter.com/venueeapp" target="_blank">Twitter</a>
  </div>

  
  
  
</div>
</div>