<!-- TOP NAVBAR
================================================== -->	
	
	<body>
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-default _nav navbar-fixed-top">

        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="/">
          <img src="images/logo/logosm.png" style="width:200px" class="img-responsive">
        </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html#download">About</a></li>
            <li><a href="/index.html#contact">Contact</a></li>
            <li><a href="/account.html">Account</a></li>
            <li><a href="/create-event.html">Create+</a></li>
          </ul>

        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->