
<!-- DOWNLOAD SECTION ******************
================================================== -->

  <section class="container-fluid section-download" id="download">
    <!--<div class="container container-download">-->
    <!--<div class="row">-->
    <!--<div class="col"></div>-->

    <!-- </div>-->
    <!-- </div>-->
    
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-5 vcenter text-right">
        <div>
          <img src="images/download/02.png" id="dl-phone"></img>
          
          
          </div>
    </div><!--
    --><div class="col-sm-6 col-md-7 vcenter dl-text">
        <div>

          
              <h3>Search, Connect And
     Discover new experiences.</h3>
     <p>Venueé is an mobile event finding app that allows you to search for events in your 
        location, with the aid of GPS and a built in map in the application.</p>
                      <h3>COMING SOON</h3>
        
        </div>
        <div class="dl-icon-row">

          <a href="/subscribe.html" id="googleplaybutton"><img src="images/download/googleplay2.png"></img></a>
          <img src="images/download/appstore2.png"></img>          
          
        </div>
        
    </div>
</div>
</div>
    
    
</section>
