<!-- CONTACT SECTION ******************
================================================== -->
<!--  <section class="container-fluid section-contact" id="contact">-->
    
<!--    <div class="contact-container">-->
<!--    <h2>Contact us! We are always happy seeing our inbox full</h2>-->
    
<!--    <div class="form_content">-->
<!--      	<div class="col-md-8 contact_form_inner">-->
<!--    <form id="contact_form" action="" method="POST" enctype="multipart/form-data" >-->
<!--	<div class="row under_line">-->
<!--		<label for="name"></label>-->
<!--				<input id="name" class="input" name="name" type="text" value="" size="30" placeholder="Name"/>-->
<!--	</div>-->
	
<!--	<div class="row under_line">-->
<!--		<label for="email"></label>-->
<!--		<input id="email" class="input" name="_replyto" type="text" value="" size="30" placeholder="Email"/><br />-->
<!--	</div>-->

<!--	<div class="row">-->
<!--		<label for="message"></label><br />-->
<!--		<textarea id="message" class="input" name="message" rows="8" placeholder="Message"></textarea><br />-->
<!--	</div>-->
<!--	<input id="submit_button" type="submit" value="SEND" class="submit_button" />-->
<!--	</div>-->
<!--</form>-->
<!--</div>-->
<!--    </div>-->
<!--    </section>-->
    
    
    
    
    
    
<!--        <h2 class="inbetweener"><strong>Contact Us Today</strong></h2>-->

	          <!-- CONTACT SECTION 2 ******************
================================================== -->
  <section class="container-fluid section-contact-2" id="contact">
  
    <div class="container">
    <h2>Contact us! We are always happy to see our inbox full.</h2>
	
	<script>
uploadResult();
</script>
    
    <form class="subscribe-form contact-form-override" action="contact.php" method="POST" enctype="multipart/form-data" id="contactForm" name="contactForm">
	<div class="col-sm-6  name-email-cont">
				<input id="name"  name="name" type="text" size="30" placeholder="Name"/><br /><br />

	

		<input id="email" class="" name="email" type="text" size="30" placeholder="Email"/><br /><br />
	</div>

	<div class="col-sm-6 text-cont">
		<textarea id="message" class="" name="message" rows="8" placeholder="Message"></textarea><br />
	<input id="submit" type="submit" value="SEND" class="form-button-confirm" />
	
	</div>
</form>
</div>
    </section>