/********************
SLIDER - CAROUSEL
*********************/

.item{
      width: 100%;
    background-size: cover;  
}
.carousel-inner {

.slider-img-1{

    background-image: url('/images/slider/14stock.jpg');

}
.slider-img-2{

    background-image: url('/images/slider/13stock.jpg');

}

.slider-img-3{

    background-image: url('/images/slider/9stock.jpg');
}

.slider-img-4{

    background-image: url('/images/slider/1stock.jpg');

}



}
//#####
//TURN OFF SLIDER BUTTONS 
//#####
.carousel-indicators li{
  display: none;
}










.carousel-caption{
    text-align: left;
    padding-left: 29%;
    margin-bottom: 12px;
}

._button{
    background-color: white;
    padding: 8px 10px 3px 10px;
    color: $sitecolor;
    font-weight: 600;
    font-size: 18px;
}




.carousel-caption h1, .carousel-caption h2 {
font-weight: 700;
    
}

.carousel-caption h1, .carousel-caption h2{ 
  text-shadow: 0 0 2px rgba(2,2,2, 0.2), 
               0 0 5pxrgba(3,3,3, 0.3); 
}
.carousel-caption p { 
  text-shadow: 0 0 2px rgba(2,2,2, 0.9), 
               0 0 5px rgba(3,3,3, 0.9); 
}


.carousel-caption h1{
    font-size: 3.1em;
}

.carousel-caption h2{
    font-size: 3.1em;
}

.carousel-caption p {
      font-size: 1.4em;}

@media (max-width: 768px) { /**** TABLET UNDER 768  ****/
  .carousel-inner .item img{
  }
  
  .navbar-toggle{
  padding: 20px 0;
}
  .carousel-caption p {
    margin-bottom: 20px;

    line-height: 1.4;
  }
  
  
  
} /**** END TABLET UNDER 768  ****/


@media (max-width: 480px) { /**** MOBILE UNDER 480  ****/
  
.carousel-caption{
    text-align: CENTER;
    padding-left: 0%;
    h1{
      font-size: 2.4em;
    }
    h2{
      font-size: 2em;
    }
}

} /**** END MOBILE UNDER 480px  ****/


@media (max-width: 650px) { /**** MOBILE UNDER 480  ****/
  .slider-img-1{

background-position: calc(20%) calc(100%);    
}


} /**** END MOBILE UNDER 480px  ****/

.carousel{
  margin-bottom: 0;
}

.container-fluid{
  margin-top: 0;
}