/********************
DAS FOOTER
*********************/


 ._footer {
   text-align: center;  
   color: white;
   margin-bottom: 25px;
     
 }

 ._footer h2 {
    color: $sitecolor;
    font-size: 2em;
 }
 
  ._footer a, ._footer p{
    font-size: 1.4em;
       color: white;
 }
 
 ._footer .text-left{
     padding-left: 55px;
     
 }
 